{% extends 'core/base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="auth">
  <h3>Crear una cuenta</h3>
</div>
<hr>

<br>

<form id="register-form" action="" method="post">
    {% csrf_token %}

    <div class="card mx-auto" style="width: 30rem;">
      <div class="card-body">
        <h5 class="card-title">Complete todos los campos</h5>
        {{ form | crispy }}
        <span>¿Ya tienes cuenta?</span>
        <a href={% url 'login' %} class="card-link">Inicia sesión</a>
        <button class="btn btn-sm btn-success float-end" type="submit">Registrarse</button>
      </div>
    </div>
</form>
{% endblock %}